<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
">

    <context:component-scan base-package="javac" />
    <context:annotation-config />

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/timdb?useUnicode=true&amp;characterEncoding=GBK&amp;useSSL=true "/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
        <property name="initialPoolSize" value="3" />
        <property name="maxPoolSize" value="6" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource" />
        <!--映射-->
        <property name="packagesToScan" value="javac.entity" />

        <property name="hibernateProperties">
            <props>
                <!-- 数据库方言 -->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <!-- 通过hbm配置文件去更新 -->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="javax.persistence.validation.mode">none</prop>
            </props>
        </property>
    </bean>

    <!--<aop:aspectj-autoproxy/>-->
    <!--<tx:annotation-driven transaction-manager="txManager" />-->
    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="create*" propagation="REQUIRED" read-only="false" />
            <tx:method name="save*" propagation="REQUIRED" read-only="false" />
            <tx:method name="update*" propagation="REQUIRED" read-only="false" />
            <tx:method name="delete*" propagation="REQUIRED" read-only="false" />
            <tx:method name="*" propagation="REQUIRED" rollback-for="Throwable" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="searchOperation" expression="bean(*Service)" />
        <!--<aop:pointcut id="searchOperation" expression="execution(* javac.service.impl.*.*(..))" />-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="searchOperation" />
    </aop:config>

    <!--<bean id="baseDao" class="javac.dao.daoImpl.BaseDaoImpl" >-->
        <!--<property name="sessionFactory" ref="sessionFactory" />-->
    <!--</bean>-->

    <bean id="userDao" class="javac.dao.daoImpl.UserDaoImpl" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="roleDao" class="javac.dao.daoImpl.RoleDaoImpl" >
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
</beans>